.foodItemList { 
background-image: url("../../images/greenBackground.jpeg") !important ;
background-repeat: no-repeat; 
background-size:cover;
margin-left: 0 !important;
margin-right: 0 !important;
    min-height: 50em;
}

.listMenu {
    display: flex;
    flex-direction: row;
    margin-left: -7em;
    margin-right: -7em;
    justify-content: space-between;

}

.btn-secondary {
        background-color: #799c2c;
        border-color: #799c2c;
        padding: .1em;
}

.card {
    margin-left: -4em;
    margin-right: -4em;
        margin-top: 2em;
        border: none;
}

.card-body {
    padding: .5em;
    padding-left: .5em;
    width: auto;
}

.itemCardButtons {
    justify-content: space-between;
    display: flex;
}
.w3-container, .w3-panel {
    padding: 0 !important;
}