/* html { min-height: 100vh; } */

/*LOGIN CSS */
.loginPage {
background-image: url("../../images/purpleBackground.jpg") !important;
display: flex;
  background-repeat: no-repeat; 
  background-size:cover
}

form {
  margin: 4em;
  margin-left: 2em;
  margin-top: 5em;
}

.loginSection {
  margin-top: -3em;
  min-width: 21em;
  margin-left: 3em;
}


/* REGISTER CSS */
.registerPage {
background-image: url("../../images/blueBackground.jpg") !important;
display: flex;
  background-repeat: no-repeat; 
  background-size:cover;
  background-position: right;
}

form {
  margin: 4em;
  margin-left: 2em;
  margin-top: 5em;
}

.registerSection {
  margin-top: -3em;
  min-width: 21em;
  margin-left: 3em;
}