/* html { min-height: 100vh; } */

.loginPage {
background-image: url("../../images/purpleBackground.jpg");
display: flex;
  background-repeat: no-repeat; 
  background-size:cover
}

form {
  margin: 4em;
  /* margin-top: 5em; */
}