.loginPage {
/* display: flex !important; */
background-image: url("../../images/blueBackground.jpg");
display: flex;
flex-shrink: inherit;
  background-position: center;
  background-repeat: no-repeat; 
  background-size:cover
}

.loginForm {
    width: 25em;
    height: 60em;
    /* margin-left: 42em; */
    align-items: center;
   
}

.loginSection {
 margin: auto;
  /* width: 50%; */
  border: 3px solid rgb(212, 131, 8);
  padding: 100px;
}