body { min-height: 100vh; 
background-image: url("../../images/pantryListBackground.jpg");
background-repeat: no-repeat; 
background-size:cover
}
.pantryList {
min-height: 20rem;
}

.container {
  width: 40%
}

.justify-content-center {
    justify-content: space-around !important;
}

.card-body {
    padding: 0rem !important;
}

.row {
    margin-top: 3.5em;
        display: flex;
    flex-direction: column;
}